@import url('https://fonts.googleapis.com/css?family=PT+Sans|Vollkorn');

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: white;
}

header {
  width: 100%;
  height: 120px;
  border-bottom: gray solid 1px;
  position: fixed;
  top: 0;
  background-color: white;
}

header #header-content {
  width: 900px;
  margin: auto;
}

header #header-content h1 {
  margin: 0px;
  width: 450px;
  height: 120px;
  float: left;
  display: flex;
  align-items: center;
  font-family: 'Vollkorn', serif;
}

header #header-content h1 a {
  text-decoration: none;
  color: black;
}

header #button-box {
  float: left;
  margin-top: 50px;
  margin-left: 150px;
}

label, input {
  display: block;
}

input.text {
  margin-bottom: 12px;
}

fieldset {
  padding: 0;
  border: 0;
  margin-top: 20px;
}

#content {
  width: 900px;
  margin: auto;
  margin-top: 150px;
  padding: 25px;
}

#content table {
  margin: auto;
  border-collapse: collapse;
}

#content table th, #content table td {
  border: solid 1px gray;
  padding: 5px;
}

#content table td.id-field {
  text-align: center;
}

#content table td a {
  text-decoration: none;
  color: black;
}

#content table td a:hover {
  text-decoration: underline;
}

#content table .thubm-col {
  width: 130px;
}

#content table .url-col {
  width: 450px;
}

#content table td .thumb-box {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content #next {
  text-align: center;
}
